* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.demo-title {
  position: absolute;
  width: 100%;
  background: #2e2f33;
  z-index: 2;
  padding: .7em 0;
}

.demo-title a {
  color: #fff;
  border-bottom: 1px dotted #a64ceb;
  text-decoration: none;
}

.demo-title p {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}

.demo-frame-right {
  width: 800px;
  height: 600px;
  position: fixed;
  top: 54%;
  left: 59%;
  margin: -329px 0 0 -429px;
  padding: 95px 20px 45px 34px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.demo-frame-left {
  width: 530px;
  height: 600px;
  position: fixed;
  top: 54%;
  left: 35%;
  margin: -329px 0 0 -429px;
  padding: 95px 20px 45px 34px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.demo-container {
  width: 100%;
  height: 530px;
  position: relative;
  background: #eee;
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.dg.ac {
  z-index: 100 !important;
  top: 50px !important;
}




.foldUnfold {
  -webkit-animation: foldUnfold 2000ms linear both;
  animation: foldUnfold 2000ms linear both;
}

/* Generated with Bounce.js. Edit at http://bouncejs.com/#{s:[{T:"c",e:"b",d:1000,D:0,f:{x:1,y:1},t:{x:0.2,y:1},s:3,b:4},{T:"c",e:"b",d:1000,D:500,f:{x:1,y:1},t:{x:1,y:0.2},s:3,b:4},{T:"c",e:"b",d:1000,D:1000,f:{x:1,y:1},t:{x:5,y:1},s:3,b:4},{T:"c",e:"b",d:500,D:1500,f:{x:1,y:1},t:{x:1,y:5},s:1,b:2}]} */

@-webkit-keyframes foldUnfold { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  0.833333% { -webkit-transform: matrix3d(0.83875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.83875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.666667% { -webkit-transform: matrix3d(0.68696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.68696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.5% { -webkit-transform: matrix3d(0.55202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.55202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.333333% { -webkit-transform: matrix3d(0.43766, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.43766, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.166667% { -webkit-transform: matrix3d(0.34496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.34496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5% { -webkit-transform: matrix3d(0.27313, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.27313, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.833333% { -webkit-transform: matrix3d(0.22019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.22019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(0.18352, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.18352, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.5% { -webkit-transform: matrix3d(0.16022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.16022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.333333% { -webkit-transform: matrix3d(0.14747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.14747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.166667% { -webkit-transform: matrix3d(0.14261, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.14261, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10% { -webkit-transform: matrix3d(0.14336, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.14336, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.833333% { -webkit-transform: matrix3d(0.14779, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.14779, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.666667% { -webkit-transform: matrix3d(0.15437, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.15437, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.5% { -webkit-transform: matrix3d(0.16192, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.16192, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(0.1696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.1696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.166667% { -webkit-transform: matrix3d(0.17682, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.17682, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15% { -webkit-transform: matrix3d(0.18325, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.18325, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.833333% { -webkit-transform: matrix3d(0.18869, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.18869, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(0.1931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.1931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.5% { -webkit-transform: matrix3d(0.19652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.333333% { -webkit-transform: matrix3d(0.19904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  19.166667% { -webkit-transform: matrix3d(0.20078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(0.20189, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20189, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.833333% { -webkit-transform: matrix3d(0.2025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.666667% { -webkit-transform: matrix3d(0.20273, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20273, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.5% { -webkit-transform: matrix3d(0.2027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.333333% { -webkit-transform: matrix3d(0.20248, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20248, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.166667% { -webkit-transform: matrix3d(0.20217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25% { -webkit-transform: matrix3d(0.20181, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20181, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.833333% { -webkit-transform: matrix3d(0.20145, 0, 0, 0, 0, 0.83875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20145, 0, 0, 0, 0, 0.83875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(0.2011, 0, 0, 0, 0, 0.68696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2011, 0, 0, 0, 0, 0.68696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.5% { -webkit-transform: matrix3d(0.2008, 0, 0, 0, 0, 0.55202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2008, 0, 0, 0, 0, 0.55202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.333333% { -webkit-transform: matrix3d(0.20054, 0, 0, 0, 0, 0.43766, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20054, 0, 0, 0, 0, 0.43766, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.166667% { -webkit-transform: matrix3d(0.20033, 0, 0, 0, 0, 0.34496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20033, 0, 0, 0, 0, 0.34496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30% { -webkit-transform: matrix3d(0.20017, 0, 0, 0, 0, 0.27313, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20017, 0, 0, 0, 0, 0.27313, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30.833333% { -webkit-transform: matrix3d(0.20005, 0, 0, 0, 0, 0.22019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20005, 0, 0, 0, 0, 0.22019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.666667% { -webkit-transform: matrix3d(0.19996, 0, 0, 0, 0, 0.18352, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19996, 0, 0, 0, 0, 0.18352, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  32.5% { -webkit-transform: matrix3d(0.19991, 0, 0, 0, 0, 0.16022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19991, 0, 0, 0, 0, 0.16022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(0.19988, 0, 0, 0, 0, 0.14747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19988, 0, 0, 0, 0, 0.14747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  34.166667% { -webkit-transform: matrix3d(0.19987, 0, 0, 0, 0, 0.14261, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19987, 0, 0, 0, 0, 0.14261, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35% { -webkit-transform: matrix3d(0.19987, 0, 0, 0, 0, 0.14336, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19987, 0, 0, 0, 0, 0.14336, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.833333% { -webkit-transform: matrix3d(0.19988, 0, 0, 0, 0, 0.14779, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19988, 0, 0, 0, 0, 0.14779, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.666667% { -webkit-transform: matrix3d(0.1999, 0, 0, 0, 0, 0.15437, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.1999, 0, 0, 0, 0, 0.15437, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  37.5% { -webkit-transform: matrix3d(0.19991, 0, 0, 0, 0, 0.16192, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19991, 0, 0, 0, 0, 0.16192, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  38.333333% { -webkit-transform: matrix3d(0.19993, 0, 0, 0, 0, 0.1696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19993, 0, 0, 0, 0, 0.1696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.166667% { -webkit-transform: matrix3d(0.19995, 0, 0, 0, 0, 0.17682, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19995, 0, 0, 0, 0, 0.17682, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.19996, 0, 0, 0, 0, 0.18325, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19996, 0, 0, 0, 0, 0.18325, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40.833333% { -webkit-transform: matrix3d(0.19997, 0, 0, 0, 0, 0.18869, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19997, 0, 0, 0, 0, 0.18869, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.666667% { -webkit-transform: matrix3d(0.19998, 0, 0, 0, 0, 0.1931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19998, 0, 0, 0, 0, 0.1931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  42.5% { -webkit-transform: matrix3d(0.19999, 0, 0, 0, 0, 0.19652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19999, 0, 0, 0, 0, 0.19652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.333333% { -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 0.19904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2, 0, 0, 0, 0, 0.19904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.166667% { -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 0.20078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2, 0, 0, 0, 0, 0.20078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45% { -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 0.20189, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2, 0, 0, 0, 0, 0.20189, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.833333% { -webkit-transform: matrix3d(0.20001, 0, 0, 0, 0, 0.2025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20001, 0, 0, 0, 0, 0.2025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.20001, 0, 0, 0, 0, 0.20273, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20001, 0, 0, 0, 0, 0.20273, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.5% { -webkit-transform: matrix3d(0.20001, 0, 0, 0, 0, 0.2027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20001, 0, 0, 0, 0, 0.2027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  48.333333% { -webkit-transform: matrix3d(0.20001, 0, 0, 0, 0, 0.20248, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20001, 0, 0, 0, 0, 0.20248, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.166667% { -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 0.20217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2, 0, 0, 0, 0, 0.20217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 0.20181, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2, 0, 0, 0, 0, 0.20181, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50.833333% { -webkit-transform: matrix3d(0.36125, 0, 0, 0, 0, 0.20145, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.36125, 0, 0, 0, 0, 0.20145, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.666667% { -webkit-transform: matrix3d(0.51304, 0, 0, 0, 0, 0.2011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.51304, 0, 0, 0, 0, 0.2011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.5% { -webkit-transform: matrix3d(0.64798, 0, 0, 0, 0, 0.2008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.64798, 0, 0, 0, 0, 0.2008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(0.76234, 0, 0, 0, 0, 0.20054, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.76234, 0, 0, 0, 0, 0.20054, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  54.166667% { -webkit-transform: matrix3d(0.85504, 0, 0, 0, 0, 0.20033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.85504, 0, 0, 0, 0, 0.20033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  55% { -webkit-transform: matrix3d(0.92687, 0, 0, 0, 0, 0.20017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.92687, 0, 0, 0, 0, 0.20017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  55.833333% { -webkit-transform: matrix3d(0.97981, 0, 0, 0, 0, 0.20005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97981, 0, 0, 0, 0, 0.20005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.666667% { -webkit-transform: matrix3d(1.01648, 0, 0, 0, 0, 0.19996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01648, 0, 0, 0, 0, 0.19996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  57.5% { -webkit-transform: matrix3d(1.03978, 0, 0, 0, 0, 0.19991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.03978, 0, 0, 0, 0, 0.19991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.333333% { -webkit-transform: matrix3d(1.05253, 0, 0, 0, 0, 0.19988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05253, 0, 0, 0, 0, 0.19988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.166667% { -webkit-transform: matrix3d(1.05739, 0, 0, 0, 0, 0.19987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05739, 0, 0, 0, 0, 0.19987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1.05664, 0, 0, 0, 0, 0.19987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05664, 0, 0, 0, 0, 0.19987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60.833333% { -webkit-transform: matrix3d(1.05221, 0, 0, 0, 0, 0.19988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05221, 0, 0, 0, 0, 0.19988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.666667% { -webkit-transform: matrix3d(1.04563, 0, 0, 0, 0, 0.1999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.04563, 0, 0, 0, 0, 0.1999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  62.5% { -webkit-transform: matrix3d(1.03808, 0, 0, 0, 0, 0.19991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.03808, 0, 0, 0, 0, 0.19991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.333333% { -webkit-transform: matrix3d(1.0304, 0, 0, 0, 0, 0.19993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0304, 0, 0, 0, 0, 0.19993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  64.166667% { -webkit-transform: matrix3d(1.02318, 0, 0, 0, 0, 0.19995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.02318, 0, 0, 0, 0, 0.19995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  65% { -webkit-transform: matrix3d(1.01675, 0, 0, 0, 0, 0.19996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01675, 0, 0, 0, 0, 0.19996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  65.833333% { -webkit-transform: matrix3d(1.01131, 0, 0, 0, 0, 0.19997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01131, 0, 0, 0, 0, 0.19997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1.0069, 0, 0, 0, 0, 0.19998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0069, 0, 0, 0, 0, 0.19998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  67.5% { -webkit-transform: matrix3d(1.00348, 0, 0, 0, 0, 0.19999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00348, 0, 0, 0, 0, 0.19999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  68.333333% { -webkit-transform: matrix3d(1.00096, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00096, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  69.166667% { -webkit-transform: matrix3d(0.99922, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99922, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70% { -webkit-transform: matrix3d(0.99811, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99811, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70.833333% { -webkit-transform: matrix3d(0.9975, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9975, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  71.666667% { -webkit-transform: matrix3d(0.99727, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99727, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  72.5% { -webkit-transform: matrix3d(0.9973, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9973, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(0.99752, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99752, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  74.166667% { -webkit-transform: matrix3d(0.99783, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99783, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% { -webkit-transform: matrix3d(0.99819, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99819, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.833333% { -webkit-transform: matrix3d(0.99855, 0, 0, 0, 0, 0.3926, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99855, 0, 0, 0, 0, 0.3926, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.666667% { -webkit-transform: matrix3d(0.9989, 0, 0, 0, 0, 0.55967, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9989, 0, 0, 0, 0, 0.55967, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  77.5% { -webkit-transform: matrix3d(0.9992, 0, 0, 0, 0, 0.69732, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9992, 0, 0, 0, 0, 0.69732, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  78.333333% { -webkit-transform: matrix3d(0.99946, 0, 0, 0, 0, 0.80568, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99946, 0, 0, 0, 0, 0.80568, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  79.166667% { -webkit-transform: matrix3d(0.99967, 0, 0, 0, 0, 0.88729, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99967, 0, 0, 0, 0, 0.88729, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 0.94593, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99983, 0, 0, 0, 0, 0.94593, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.833333% { -webkit-transform: matrix3d(0.99995, 0, 0, 0, 0, 0.9858, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99995, 0, 0, 0, 0, 0.9858, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.666667% { -webkit-transform: matrix3d(1.00004, 0, 0, 0, 0, 1.01102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00004, 0, 0, 0, 0, 1.01102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.5% { -webkit-transform: matrix3d(1.00009, 0, 0, 0, 0, 1.02529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00009, 0, 0, 0, 0, 1.02529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 1.03176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00012, 0, 0, 0, 0, 1.03176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.166667% { -webkit-transform: matrix3d(1.00013, 0, 0, 0, 0, 1.03299, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00013, 0, 0, 0, 0, 1.03299, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85% { -webkit-transform: matrix3d(1.00013, 0, 0, 0, 0, 1.03096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00013, 0, 0, 0, 0, 1.03096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.833333% { -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 1.02714, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00012, 0, 0, 0, 0, 1.02714, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(1.0001, 0, 0, 0, 0, 1.02255, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0001, 0, 0, 0, 0, 1.02255, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.5% { -webkit-transform: matrix3d(1.00009, 0, 0, 0, 0, 1.0179, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00009, 0, 0, 0, 0, 1.0179, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  88.333333% { -webkit-transform: matrix3d(1.00007, 0, 0, 0, 0, 1.01359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00007, 0, 0, 0, 0, 1.01359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  89.166667% { -webkit-transform: matrix3d(1.00005, 0, 0, 0, 0, 1.00985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00005, 0, 0, 0, 0, 1.00985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90% { -webkit-transform: matrix3d(1.00004, 0, 0, 0, 0, 1.00677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00004, 0, 0, 0, 0, 1.00677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.833333% { -webkit-transform: matrix3d(1.00003, 0, 0, 0, 0, 1.00435, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00003, 0, 0, 0, 0, 1.00435, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.666667% { -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00252, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00252, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  92.5% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00121, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00121, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.00032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.00032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.166667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.99975, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.99975, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.99943, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.99943, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.833333% { -webkit-transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99929, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99929, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.666667% { -webkit-transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99926, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99926, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  97.5% { -webkit-transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  98.333333% { -webkit-transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99939, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99939, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  99.166667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.9995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.9995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  0.833333% { -webkit-transform: matrix3d(0.83875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.83875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.666667% { -webkit-transform: matrix3d(0.68696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.68696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.5% { -webkit-transform: matrix3d(0.55202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.55202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.333333% { -webkit-transform: matrix3d(0.43766, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.43766, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.166667% { -webkit-transform: matrix3d(0.34496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.34496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5% { -webkit-transform: matrix3d(0.27313, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.27313, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.833333% { -webkit-transform: matrix3d(0.22019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.22019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(0.18352, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.18352, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.5% { -webkit-transform: matrix3d(0.16022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.16022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.333333% { -webkit-transform: matrix3d(0.14747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.14747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.166667% { -webkit-transform: matrix3d(0.14261, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.14261, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10% { -webkit-transform: matrix3d(0.14336, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.14336, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.833333% { -webkit-transform: matrix3d(0.14779, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.14779, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.666667% { -webkit-transform: matrix3d(0.15437, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.15437, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.5% { -webkit-transform: matrix3d(0.16192, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.16192, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(0.1696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.1696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.166667% { -webkit-transform: matrix3d(0.17682, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.17682, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15% { -webkit-transform: matrix3d(0.18325, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.18325, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.833333% { -webkit-transform: matrix3d(0.18869, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.18869, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(0.1931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.1931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.5% { -webkit-transform: matrix3d(0.19652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.333333% { -webkit-transform: matrix3d(0.19904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  19.166667% { -webkit-transform: matrix3d(0.20078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(0.20189, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20189, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.833333% { -webkit-transform: matrix3d(0.2025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.666667% { -webkit-transform: matrix3d(0.20273, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20273, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.5% { -webkit-transform: matrix3d(0.2027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.333333% { -webkit-transform: matrix3d(0.20248, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20248, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.166667% { -webkit-transform: matrix3d(0.20217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25% { -webkit-transform: matrix3d(0.20181, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20181, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.833333% { -webkit-transform: matrix3d(0.20145, 0, 0, 0, 0, 0.83875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20145, 0, 0, 0, 0, 0.83875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(0.2011, 0, 0, 0, 0, 0.68696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2011, 0, 0, 0, 0, 0.68696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.5% { -webkit-transform: matrix3d(0.2008, 0, 0, 0, 0, 0.55202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2008, 0, 0, 0, 0, 0.55202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.333333% { -webkit-transform: matrix3d(0.20054, 0, 0, 0, 0, 0.43766, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20054, 0, 0, 0, 0, 0.43766, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.166667% { -webkit-transform: matrix3d(0.20033, 0, 0, 0, 0, 0.34496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20033, 0, 0, 0, 0, 0.34496, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30% { -webkit-transform: matrix3d(0.20017, 0, 0, 0, 0, 0.27313, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20017, 0, 0, 0, 0, 0.27313, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30.833333% { -webkit-transform: matrix3d(0.20005, 0, 0, 0, 0, 0.22019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20005, 0, 0, 0, 0, 0.22019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.666667% { -webkit-transform: matrix3d(0.19996, 0, 0, 0, 0, 0.18352, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19996, 0, 0, 0, 0, 0.18352, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  32.5% { -webkit-transform: matrix3d(0.19991, 0, 0, 0, 0, 0.16022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19991, 0, 0, 0, 0, 0.16022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(0.19988, 0, 0, 0, 0, 0.14747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19988, 0, 0, 0, 0, 0.14747, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  34.166667% { -webkit-transform: matrix3d(0.19987, 0, 0, 0, 0, 0.14261, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19987, 0, 0, 0, 0, 0.14261, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35% { -webkit-transform: matrix3d(0.19987, 0, 0, 0, 0, 0.14336, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19987, 0, 0, 0, 0, 0.14336, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.833333% { -webkit-transform: matrix3d(0.19988, 0, 0, 0, 0, 0.14779, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19988, 0, 0, 0, 0, 0.14779, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.666667% { -webkit-transform: matrix3d(0.1999, 0, 0, 0, 0, 0.15437, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.1999, 0, 0, 0, 0, 0.15437, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  37.5% { -webkit-transform: matrix3d(0.19991, 0, 0, 0, 0, 0.16192, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19991, 0, 0, 0, 0, 0.16192, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  38.333333% { -webkit-transform: matrix3d(0.19993, 0, 0, 0, 0, 0.1696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19993, 0, 0, 0, 0, 0.1696, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.166667% { -webkit-transform: matrix3d(0.19995, 0, 0, 0, 0, 0.17682, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19995, 0, 0, 0, 0, 0.17682, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.19996, 0, 0, 0, 0, 0.18325, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19996, 0, 0, 0, 0, 0.18325, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40.833333% { -webkit-transform: matrix3d(0.19997, 0, 0, 0, 0, 0.18869, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19997, 0, 0, 0, 0, 0.18869, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.666667% { -webkit-transform: matrix3d(0.19998, 0, 0, 0, 0, 0.1931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19998, 0, 0, 0, 0, 0.1931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  42.5% { -webkit-transform: matrix3d(0.19999, 0, 0, 0, 0, 0.19652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.19999, 0, 0, 0, 0, 0.19652, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.333333% { -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 0.19904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2, 0, 0, 0, 0, 0.19904, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.166667% { -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 0.20078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2, 0, 0, 0, 0, 0.20078, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45% { -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 0.20189, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2, 0, 0, 0, 0, 0.20189, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.833333% { -webkit-transform: matrix3d(0.20001, 0, 0, 0, 0, 0.2025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20001, 0, 0, 0, 0, 0.2025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.20001, 0, 0, 0, 0, 0.20273, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20001, 0, 0, 0, 0, 0.20273, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.5% { -webkit-transform: matrix3d(0.20001, 0, 0, 0, 0, 0.2027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20001, 0, 0, 0, 0, 0.2027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  48.333333% { -webkit-transform: matrix3d(0.20001, 0, 0, 0, 0, 0.20248, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.20001, 0, 0, 0, 0, 0.20248, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.166667% { -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 0.20217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2, 0, 0, 0, 0, 0.20217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(0.2, 0, 0, 0, 0, 0.20181, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.2, 0, 0, 0, 0, 0.20181, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50.833333% { -webkit-transform: matrix3d(0.36125, 0, 0, 0, 0, 0.20145, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.36125, 0, 0, 0, 0, 0.20145, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.666667% { -webkit-transform: matrix3d(0.51304, 0, 0, 0, 0, 0.2011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.51304, 0, 0, 0, 0, 0.2011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.5% { -webkit-transform: matrix3d(0.64798, 0, 0, 0, 0, 0.2008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.64798, 0, 0, 0, 0, 0.2008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(0.76234, 0, 0, 0, 0, 0.20054, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.76234, 0, 0, 0, 0, 0.20054, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  54.166667% { -webkit-transform: matrix3d(0.85504, 0, 0, 0, 0, 0.20033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.85504, 0, 0, 0, 0, 0.20033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  55% { -webkit-transform: matrix3d(0.92687, 0, 0, 0, 0, 0.20017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.92687, 0, 0, 0, 0, 0.20017, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  55.833333% { -webkit-transform: matrix3d(0.97981, 0, 0, 0, 0, 0.20005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97981, 0, 0, 0, 0, 0.20005, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.666667% { -webkit-transform: matrix3d(1.01648, 0, 0, 0, 0, 0.19996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01648, 0, 0, 0, 0, 0.19996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  57.5% { -webkit-transform: matrix3d(1.03978, 0, 0, 0, 0, 0.19991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.03978, 0, 0, 0, 0, 0.19991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.333333% { -webkit-transform: matrix3d(1.05253, 0, 0, 0, 0, 0.19988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05253, 0, 0, 0, 0, 0.19988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.166667% { -webkit-transform: matrix3d(1.05739, 0, 0, 0, 0, 0.19987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05739, 0, 0, 0, 0, 0.19987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1.05664, 0, 0, 0, 0, 0.19987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05664, 0, 0, 0, 0, 0.19987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60.833333% { -webkit-transform: matrix3d(1.05221, 0, 0, 0, 0, 0.19988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05221, 0, 0, 0, 0, 0.19988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.666667% { -webkit-transform: matrix3d(1.04563, 0, 0, 0, 0, 0.1999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.04563, 0, 0, 0, 0, 0.1999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  62.5% { -webkit-transform: matrix3d(1.03808, 0, 0, 0, 0, 0.19991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.03808, 0, 0, 0, 0, 0.19991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.333333% { -webkit-transform: matrix3d(1.0304, 0, 0, 0, 0, 0.19993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0304, 0, 0, 0, 0, 0.19993, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  64.166667% { -webkit-transform: matrix3d(1.02318, 0, 0, 0, 0, 0.19995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.02318, 0, 0, 0, 0, 0.19995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  65% { -webkit-transform: matrix3d(1.01675, 0, 0, 0, 0, 0.19996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01675, 0, 0, 0, 0, 0.19996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  65.833333% { -webkit-transform: matrix3d(1.01131, 0, 0, 0, 0, 0.19997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01131, 0, 0, 0, 0, 0.19997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1.0069, 0, 0, 0, 0, 0.19998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0069, 0, 0, 0, 0, 0.19998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  67.5% { -webkit-transform: matrix3d(1.00348, 0, 0, 0, 0, 0.19999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00348, 0, 0, 0, 0, 0.19999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  68.333333% { -webkit-transform: matrix3d(1.00096, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00096, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  69.166667% { -webkit-transform: matrix3d(0.99922, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99922, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70% { -webkit-transform: matrix3d(0.99811, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99811, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70.833333% { -webkit-transform: matrix3d(0.9975, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9975, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  71.666667% { -webkit-transform: matrix3d(0.99727, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99727, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  72.5% { -webkit-transform: matrix3d(0.9973, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9973, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(0.99752, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99752, 0, 0, 0, 0, 0.20001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  74.166667% { -webkit-transform: matrix3d(0.99783, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99783, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% { -webkit-transform: matrix3d(0.99819, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99819, 0, 0, 0, 0, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.833333% { -webkit-transform: matrix3d(0.99855, 0, 0, 0, 0, 0.3926, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99855, 0, 0, 0, 0, 0.3926, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.666667% { -webkit-transform: matrix3d(0.9989, 0, 0, 0, 0, 0.55967, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9989, 0, 0, 0, 0, 0.55967, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  77.5% { -webkit-transform: matrix3d(0.9992, 0, 0, 0, 0, 0.69732, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9992, 0, 0, 0, 0, 0.69732, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  78.333333% { -webkit-transform: matrix3d(0.99946, 0, 0, 0, 0, 0.80568, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99946, 0, 0, 0, 0, 0.80568, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  79.166667% { -webkit-transform: matrix3d(0.99967, 0, 0, 0, 0, 0.88729, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99967, 0, 0, 0, 0, 0.88729, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 0.94593, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99983, 0, 0, 0, 0, 0.94593, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.833333% { -webkit-transform: matrix3d(0.99995, 0, 0, 0, 0, 0.9858, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99995, 0, 0, 0, 0, 0.9858, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.666667% { -webkit-transform: matrix3d(1.00004, 0, 0, 0, 0, 1.01102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00004, 0, 0, 0, 0, 1.01102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.5% { -webkit-transform: matrix3d(1.00009, 0, 0, 0, 0, 1.02529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00009, 0, 0, 0, 0, 1.02529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 1.03176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00012, 0, 0, 0, 0, 1.03176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.166667% { -webkit-transform: matrix3d(1.00013, 0, 0, 0, 0, 1.03299, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00013, 0, 0, 0, 0, 1.03299, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85% { -webkit-transform: matrix3d(1.00013, 0, 0, 0, 0, 1.03096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00013, 0, 0, 0, 0, 1.03096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.833333% { -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 1.02714, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00012, 0, 0, 0, 0, 1.02714, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(1.0001, 0, 0, 0, 0, 1.02255, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0001, 0, 0, 0, 0, 1.02255, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.5% { -webkit-transform: matrix3d(1.00009, 0, 0, 0, 0, 1.0179, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00009, 0, 0, 0, 0, 1.0179, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  88.333333% { -webkit-transform: matrix3d(1.00007, 0, 0, 0, 0, 1.01359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00007, 0, 0, 0, 0, 1.01359, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  89.166667% { -webkit-transform: matrix3d(1.00005, 0, 0, 0, 0, 1.00985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00005, 0, 0, 0, 0, 1.00985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90% { -webkit-transform: matrix3d(1.00004, 0, 0, 0, 0, 1.00677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00004, 0, 0, 0, 0, 1.00677, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.833333% { -webkit-transform: matrix3d(1.00003, 0, 0, 0, 0, 1.00435, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00003, 0, 0, 0, 0, 1.00435, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.666667% { -webkit-transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00252, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00002, 0, 0, 0, 0, 1.00252, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  92.5% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00121, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 1.00121, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.00032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1.00032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.166667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.99975, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.99975, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.99943, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.99943, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.833333% { -webkit-transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99929, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99929, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.666667% { -webkit-transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99926, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99926, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  97.5% { -webkit-transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  98.333333% { -webkit-transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99939, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99999, 0, 0, 0, 0, 0.99939, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  99.166667% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.9995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 0.9995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}








.splat {
  -webkit-animation: splat 865ms linear both;
  animation: splat 865ms linear both;
}

/* Generated with Bounce.js. Edit at http://bouncejs.com/#{s:[{T:"t",e:"b",d:600,D:0,f:{x:-300,y:0},t:{x:0,y:0},s:4,b:4},{T:"c",e:"s",d:800,D:65,f:{x:1,y:1},t:{x:0.1,y:2.3},s:2,b:4},{T:"c",e:"s",d:300,D:30,f:{x:1,y:1},t:{x:5,y:1},s:3,b:4}]} */

@-webkit-keyframes splat { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
  1.923077% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -188.74094, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -188.74094, 0, 0, 1); }
  3.846154% { -webkit-transform: matrix3d(1.47818, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -103.07892, 0, 0, 1); transform: matrix3d(1.47818, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -103.07892, 0, 0, 1); }
  5.769231% { -webkit-transform: matrix3d(2.32008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -45.14002, 0, 0, 1); transform: matrix3d(2.32008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -45.14002, 0, 0, 1); }
  7.692308% { -webkit-transform: matrix3d(1.86599, 0, 0, 0, 0, 1.03082, 0, 0, 0, 0, 1, 0, -10.61612, 0, 0, 1); transform: matrix3d(1.86599, 0, 0, 0, 0, 1.03082, 0, 0, 0, 0, 1, 0, -10.61612, 0, 0, 1); }
  9.615385% { -webkit-transform: matrix3d(1.08939, 0, 0, 0, 0, 1.29235, 0, 0, 0, 0, 1, 0, 6.86606, 0, 0, 1); transform: matrix3d(1.08939, 0, 0, 0, 0, 1.29235, 0, 0, 0, 0, 1, 0, 6.86606, 0, 0, 1); }
  11.538462% { -webkit-transform: matrix3d(0.73113, 0, 0, 0, 0, 1.43935, 0, 0, 0, 0, 1, 0, 13.39571, 0, 0, 1); transform: matrix3d(0.73113, 0, 0, 0, 0, 1.43935, 0, 0, 0, 0, 1, 0, 13.39571, 0, 0, 1); }
  13.461538% { -webkit-transform: matrix3d(0.61957, 0, 0, 0, 0, 1.49725, 0, 0, 0, 0, 1, 0, 13.77926, 0, 0, 1); transform: matrix3d(0.61957, 0, 0, 0, 0, 1.49725, 0, 0, 0, 0, 1, 0, 13.77926, 0, 0, 1); }
  15.384615% { -webkit-transform: matrix3d(0.62302, 0, 0, 0, 0, 1.49093, 0, 0, 0, 0, 1, 0, 11.33641, 0, 0, 1); transform: matrix3d(0.62302, 0, 0, 0, 0, 1.49093, 0, 0, 0, 0, 1, 0, 11.33641, 0, 0, 1); }
  17.307692% { -webkit-transform: matrix3d(0.67305, 0, 0, 0, 0, 1.44261, 0, 0, 0, 0, 1, 0, 8.09079, 0, 0, 1); transform: matrix3d(0.67305, 0, 0, 0, 0, 1.44261, 0, 0, 0, 0, 1, 0, 8.09079, 0, 0, 1); }
  19.230769% { -webkit-transform: matrix3d(0.73693, 0, 0, 0, 0, 1.37083, 0, 0, 0, 0, 1, 0, 5.10138, 0, 0, 1); transform: matrix3d(0.73693, 0, 0, 0, 0, 1.37083, 0, 0, 0, 0, 1, 0, 5.10138, 0, 0, 1); }
  21.153846% { -webkit-transform: matrix3d(0.80007, 0, 0, 0, 0, 1.28994, 0, 0, 0, 0, 1, 0, 2.79402, 0, 0, 1); transform: matrix3d(0.80007, 0, 0, 0, 0, 1.28994, 0, 0, 0, 0, 1, 0, 2.79402, 0, 0, 1); }
  23.076923% { -webkit-transform: matrix3d(0.85697, 0, 0, 0, 0, 1.2103, 0, 0, 0, 0, 1, 0, 1.23007, 0, 0, 1); transform: matrix3d(0.85697, 0, 0, 0, 0, 1.2103, 0, 0, 0, 0, 1, 0, 1.23007, 0, 0, 1); }
  25% { -webkit-transform: matrix3d(0.9059, 0, 0, 0, 0, 1.13863, 0, 0, 0, 0, 1, 0, 0.29597, 0, 0, 1); transform: matrix3d(0.9059, 0, 0, 0, 0, 1.13863, 0, 0, 0, 0, 1, 0, 0.29597, 0, 0, 1); }
  26.923077% { -webkit-transform: matrix3d(0.94632, 0, 0, 0, 0, 1.07869, 0, 0, 0, 0, 1, 0, -0.1787, 0, 0, 1); transform: matrix3d(0.94632, 0, 0, 0, 0, 1.07869, 0, 0, 0, 0, 1, 0, -0.1787, 0, 0, 1); }
  28.846154% { -webkit-transform: matrix3d(0.97803, 0, 0, 0, 0, 1.03191, 0, 0, 0, 0, 1, 0, -0.35746, 0, 0, 1); transform: matrix3d(0.97803, 0, 0, 0, 0, 1.03191, 0, 0, 0, 0, 1, 0, -0.35746, 0, 0, 1); }
  30.769231% { -webkit-transform: matrix3d(1.00123, 0, 0, 0, 0, 0.99805, 0, 0, 0, 0, 1, 0, -0.36971, 0, 0, 1); transform: matrix3d(1.00123, 0, 0, 0, 0, 0.99805, 0, 0, 0, 0, 1, 0, -0.36971, 0, 0, 1); }
  32.692308% { -webkit-transform: matrix3d(1.01663, 0, 0, 0, 0, 0.97579, 0, 0, 0, 0, 1, 0, -0.30505, 0, 0, 1); transform: matrix3d(1.01663, 0, 0, 0, 0, 0.97579, 0, 0, 0, 0, 1, 0, -0.30505, 0, 0, 1); }
  34.615385% { -webkit-transform: matrix3d(1.0254, 0, 0, 0, 0, 0.96322, 0, 0, 0, 0, 1, 0, -0.21819, 0, 0, 1); transform: matrix3d(1.0254, 0, 0, 0, 0, 0.96322, 0, 0, 0, 0, 1, 0, -0.21819, 0, 0, 1); }
  36.538462% { -webkit-transform: matrix3d(1.02892, 0, 0, 0, 0, 0.95819, 0, 0, 0, 0, 1, 0, -0.13788, 0, 0, 1); transform: matrix3d(1.02892, 0, 0, 0, 0, 0.95819, 0, 0, 0, 0, 1, 0, -0.13788, 0, 0, 1); }
  38.461538% { -webkit-transform: matrix3d(1.02865, 0, 0, 0, 0, 0.95862, 0, 0, 0, 0, 1, 0, -0.07573, 0, 0, 1); transform: matrix3d(1.02865, 0, 0, 0, 0, 0.95862, 0, 0, 0, 0, 1, 0, -0.07573, 0, 0, 1); }
  40.384615% { -webkit-transform: matrix3d(1.02587, 0, 0, 0, 0, 0.96263, 0, 0, 0, 0, 1, 0, -0.03351, 0, 0, 1); transform: matrix3d(1.02587, 0, 0, 0, 0, 0.96263, 0, 0, 0, 0, 1, 0, -0.03351, 0, 0, 1); }
  42.307692% { -webkit-transform: matrix3d(1.02171, 0, 0, 0, 0, 0.96864, 0, 0, 0, 0, 1, 0, -0.00824, 0, 0, 1); transform: matrix3d(1.02171, 0, 0, 0, 0, 0.96864, 0, 0, 0, 0, 1, 0, -0.00824, 0, 0, 1); }
  44.230769% { -webkit-transform: matrix3d(1.017, 0, 0, 0, 0, 0.97544, 0, 0, 0, 0, 1, 0, 0.00464, 0, 0, 1); transform: matrix3d(1.017, 0, 0, 0, 0, 0.97544, 0, 0, 0, 0, 1, 0, 0.00464, 0, 0, 1); }
  46.153846% { -webkit-transform: matrix3d(1.01236, 0, 0, 0, 0, 0.98215, 0, 0, 0, 0, 1, 0, 0.00954, 0, 0, 1); transform: matrix3d(1.01236, 0, 0, 0, 0, 0.98215, 0, 0, 0, 0, 1, 0, 0.00954, 0, 0, 1); }
  48.076923% { -webkit-transform: matrix3d(1.00817, 0, 0, 0, 0, 0.9882, 0, 0, 0, 0, 1, 0, 0.00992, 0, 0, 1); transform: matrix3d(1.00817, 0, 0, 0, 0, 0.9882, 0, 0, 0, 0, 1, 0, 0.00992, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(1.00466, 0, 0, 0, 0, 0.99327, 0, 0, 0, 0, 1, 0, 0.00821, 0, 0, 1); transform: matrix3d(1.00466, 0, 0, 0, 0, 0.99327, 0, 0, 0, 0, 1, 0, 0.00821, 0, 0, 1); }
  51.923077% { -webkit-transform: matrix3d(1.00191, 0, 0, 0, 0, 0.99724, 0, 0, 0, 0, 1, 0, 0.00588, 0, 0, 1); transform: matrix3d(1.00191, 0, 0, 0, 0, 0.99724, 0, 0, 0, 0, 1, 0, 0.00588, 0, 0, 1); }
  53.846154% { -webkit-transform: matrix3d(0.99992, 0, 0, 0, 0, 1.00011, 0, 0, 0, 0, 1, 0, 0.00373, 0, 0, 1); transform: matrix3d(0.99992, 0, 0, 0, 0, 1.00011, 0, 0, 0, 0, 1, 0, 0.00373, 0, 0, 1); }
  55.769231% { -webkit-transform: matrix3d(0.99861, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0.00205, 0, 0, 1); transform: matrix3d(0.99861, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0.00205, 0, 0, 1); }
  57.692308% { -webkit-transform: matrix3d(0.99787, 0, 0, 0, 0, 1.00308, 0, 0, 0, 0, 1, 0, 0.00091, 0, 0, 1); transform: matrix3d(0.99787, 0, 0, 0, 0, 1.00308, 0, 0, 0, 0, 1, 0, 0.00091, 0, 0, 1); }
  59.615385% { -webkit-transform: matrix3d(0.99757, 0, 0, 0, 0, 1.00351, 0, 0, 0, 0, 1, 0, 0.00023, 0, 0, 1); transform: matrix3d(0.99757, 0, 0, 0, 0, 1.00351, 0, 0, 0, 0, 1, 0, 0.00023, 0, 0, 1); }
  61.538462% { -webkit-transform: matrix3d(0.99759, 0, 0, 0, 0, 1.00349, 0, 0, 0, 0, 1, 0, -0.00012, 0, 0, 1); transform: matrix3d(0.99759, 0, 0, 0, 0, 1.00349, 0, 0, 0, 0, 1, 0, -0.00012, 0, 0, 1); }
  63.461538% { -webkit-transform: matrix3d(0.99782, 0, 0, 0, 0, 1.00316, 0, 0, 0, 0, 1, 0, -0.00025, 0, 0, 1); transform: matrix3d(0.99782, 0, 0, 0, 0, 1.00316, 0, 0, 0, 0, 1, 0, -0.00025, 0, 0, 1); }
  65.384615% { -webkit-transform: matrix3d(0.99816, 0, 0, 0, 0, 1.00265, 0, 0, 0, 0, 1, 0, -0.00027, 0, 0, 1); transform: matrix3d(0.99816, 0, 0, 0, 0, 1.00265, 0, 0, 0, 0, 1, 0, -0.00027, 0, 0, 1); }
  67.307692% { -webkit-transform: matrix3d(0.99856, 0, 0, 0, 0, 1.00208, 0, 0, 0, 0, 1, 0, -0.00022, 0, 0, 1); transform: matrix3d(0.99856, 0, 0, 0, 0, 1.00208, 0, 0, 0, 0, 1, 0, -0.00022, 0, 0, 1); }
  69.230769% { -webkit-transform: matrix3d(0.99895, 0, 0, 0, 0, 1.00151, 0, 0, 0, 0, 1, 0, -0.00016, 0, 0, 1); transform: matrix3d(0.99895, 0, 0, 0, 0, 1.00151, 0, 0, 0, 0, 1, 0, -0.00016, 0, 0, 1); }
  71.153846% { -webkit-transform: matrix3d(0.99931, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99931, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.076923% { -webkit-transform: matrix3d(0.9996, 0, 0, 0, 0, 1.00057, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9996, 0, 0, 0, 0, 1.00057, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% { -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 1.00024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99983, 0, 0, 0, 0, 1.00024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.923077% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  78.846154% { -webkit-transform: matrix3d(1.00011, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00011, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.769231% { -webkit-transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.692308% { -webkit-transform: matrix3d(1.0002, 0, 0, 0, 0, 0.9997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0002, 0, 0, 0, 0, 0.9997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.615385% { -webkit-transform: matrix3d(1.0002, 0, 0, 0, 0, 0.99971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0002, 0, 0, 0, 0, 0.99971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.538462% { -webkit-transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  88.461538% { -webkit-transform: matrix3d(1.00016, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00016, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.384615% { -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 0.99982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00012, 0, 0, 0, 0, 0.99982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  92.307692% { -webkit-transform: matrix3d(1.00009, 0, 0, 0, 0, 0.99987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00009, 0, 0, 0, 0, 0.99987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.230769% { -webkit-transform: matrix3d(1.00006, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00006, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.153846% { -webkit-transform: matrix3d(1.00003, 0, 0, 0, 0, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00003, 0, 0, 0, 0, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  98.076923% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
  1.923077% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -188.74094, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -188.74094, 0, 0, 1); }
  3.846154% { -webkit-transform: matrix3d(1.47818, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -103.07892, 0, 0, 1); transform: matrix3d(1.47818, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -103.07892, 0, 0, 1); }
  5.769231% { -webkit-transform: matrix3d(2.32008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -45.14002, 0, 0, 1); transform: matrix3d(2.32008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -45.14002, 0, 0, 1); }
  7.692308% { -webkit-transform: matrix3d(1.86599, 0, 0, 0, 0, 1.03082, 0, 0, 0, 0, 1, 0, -10.61612, 0, 0, 1); transform: matrix3d(1.86599, 0, 0, 0, 0, 1.03082, 0, 0, 0, 0, 1, 0, -10.61612, 0, 0, 1); }
  9.615385% { -webkit-transform: matrix3d(1.08939, 0, 0, 0, 0, 1.29235, 0, 0, 0, 0, 1, 0, 6.86606, 0, 0, 1); transform: matrix3d(1.08939, 0, 0, 0, 0, 1.29235, 0, 0, 0, 0, 1, 0, 6.86606, 0, 0, 1); }
  11.538462% { -webkit-transform: matrix3d(0.73113, 0, 0, 0, 0, 1.43935, 0, 0, 0, 0, 1, 0, 13.39571, 0, 0, 1); transform: matrix3d(0.73113, 0, 0, 0, 0, 1.43935, 0, 0, 0, 0, 1, 0, 13.39571, 0, 0, 1); }
  13.461538% { -webkit-transform: matrix3d(0.61957, 0, 0, 0, 0, 1.49725, 0, 0, 0, 0, 1, 0, 13.77926, 0, 0, 1); transform: matrix3d(0.61957, 0, 0, 0, 0, 1.49725, 0, 0, 0, 0, 1, 0, 13.77926, 0, 0, 1); }
  15.384615% { -webkit-transform: matrix3d(0.62302, 0, 0, 0, 0, 1.49093, 0, 0, 0, 0, 1, 0, 11.33641, 0, 0, 1); transform: matrix3d(0.62302, 0, 0, 0, 0, 1.49093, 0, 0, 0, 0, 1, 0, 11.33641, 0, 0, 1); }
  17.307692% { -webkit-transform: matrix3d(0.67305, 0, 0, 0, 0, 1.44261, 0, 0, 0, 0, 1, 0, 8.09079, 0, 0, 1); transform: matrix3d(0.67305, 0, 0, 0, 0, 1.44261, 0, 0, 0, 0, 1, 0, 8.09079, 0, 0, 1); }
  19.230769% { -webkit-transform: matrix3d(0.73693, 0, 0, 0, 0, 1.37083, 0, 0, 0, 0, 1, 0, 5.10138, 0, 0, 1); transform: matrix3d(0.73693, 0, 0, 0, 0, 1.37083, 0, 0, 0, 0, 1, 0, 5.10138, 0, 0, 1); }
  21.153846% { -webkit-transform: matrix3d(0.80007, 0, 0, 0, 0, 1.28994, 0, 0, 0, 0, 1, 0, 2.79402, 0, 0, 1); transform: matrix3d(0.80007, 0, 0, 0, 0, 1.28994, 0, 0, 0, 0, 1, 0, 2.79402, 0, 0, 1); }
  23.076923% { -webkit-transform: matrix3d(0.85697, 0, 0, 0, 0, 1.2103, 0, 0, 0, 0, 1, 0, 1.23007, 0, 0, 1); transform: matrix3d(0.85697, 0, 0, 0, 0, 1.2103, 0, 0, 0, 0, 1, 0, 1.23007, 0, 0, 1); }
  25% { -webkit-transform: matrix3d(0.9059, 0, 0, 0, 0, 1.13863, 0, 0, 0, 0, 1, 0, 0.29597, 0, 0, 1); transform: matrix3d(0.9059, 0, 0, 0, 0, 1.13863, 0, 0, 0, 0, 1, 0, 0.29597, 0, 0, 1); }
  26.923077% { -webkit-transform: matrix3d(0.94632, 0, 0, 0, 0, 1.07869, 0, 0, 0, 0, 1, 0, -0.1787, 0, 0, 1); transform: matrix3d(0.94632, 0, 0, 0, 0, 1.07869, 0, 0, 0, 0, 1, 0, -0.1787, 0, 0, 1); }
  28.846154% { -webkit-transform: matrix3d(0.97803, 0, 0, 0, 0, 1.03191, 0, 0, 0, 0, 1, 0, -0.35746, 0, 0, 1); transform: matrix3d(0.97803, 0, 0, 0, 0, 1.03191, 0, 0, 0, 0, 1, 0, -0.35746, 0, 0, 1); }
  30.769231% { -webkit-transform: matrix3d(1.00123, 0, 0, 0, 0, 0.99805, 0, 0, 0, 0, 1, 0, -0.36971, 0, 0, 1); transform: matrix3d(1.00123, 0, 0, 0, 0, 0.99805, 0, 0, 0, 0, 1, 0, -0.36971, 0, 0, 1); }
  32.692308% { -webkit-transform: matrix3d(1.01663, 0, 0, 0, 0, 0.97579, 0, 0, 0, 0, 1, 0, -0.30505, 0, 0, 1); transform: matrix3d(1.01663, 0, 0, 0, 0, 0.97579, 0, 0, 0, 0, 1, 0, -0.30505, 0, 0, 1); }
  34.615385% { -webkit-transform: matrix3d(1.0254, 0, 0, 0, 0, 0.96322, 0, 0, 0, 0, 1, 0, -0.21819, 0, 0, 1); transform: matrix3d(1.0254, 0, 0, 0, 0, 0.96322, 0, 0, 0, 0, 1, 0, -0.21819, 0, 0, 1); }
  36.538462% { -webkit-transform: matrix3d(1.02892, 0, 0, 0, 0, 0.95819, 0, 0, 0, 0, 1, 0, -0.13788, 0, 0, 1); transform: matrix3d(1.02892, 0, 0, 0, 0, 0.95819, 0, 0, 0, 0, 1, 0, -0.13788, 0, 0, 1); }
  38.461538% { -webkit-transform: matrix3d(1.02865, 0, 0, 0, 0, 0.95862, 0, 0, 0, 0, 1, 0, -0.07573, 0, 0, 1); transform: matrix3d(1.02865, 0, 0, 0, 0, 0.95862, 0, 0, 0, 0, 1, 0, -0.07573, 0, 0, 1); }
  40.384615% { -webkit-transform: matrix3d(1.02587, 0, 0, 0, 0, 0.96263, 0, 0, 0, 0, 1, 0, -0.03351, 0, 0, 1); transform: matrix3d(1.02587, 0, 0, 0, 0, 0.96263, 0, 0, 0, 0, 1, 0, -0.03351, 0, 0, 1); }
  42.307692% { -webkit-transform: matrix3d(1.02171, 0, 0, 0, 0, 0.96864, 0, 0, 0, 0, 1, 0, -0.00824, 0, 0, 1); transform: matrix3d(1.02171, 0, 0, 0, 0, 0.96864, 0, 0, 0, 0, 1, 0, -0.00824, 0, 0, 1); }
  44.230769% { -webkit-transform: matrix3d(1.017, 0, 0, 0, 0, 0.97544, 0, 0, 0, 0, 1, 0, 0.00464, 0, 0, 1); transform: matrix3d(1.017, 0, 0, 0, 0, 0.97544, 0, 0, 0, 0, 1, 0, 0.00464, 0, 0, 1); }
  46.153846% { -webkit-transform: matrix3d(1.01236, 0, 0, 0, 0, 0.98215, 0, 0, 0, 0, 1, 0, 0.00954, 0, 0, 1); transform: matrix3d(1.01236, 0, 0, 0, 0, 0.98215, 0, 0, 0, 0, 1, 0, 0.00954, 0, 0, 1); }
  48.076923% { -webkit-transform: matrix3d(1.00817, 0, 0, 0, 0, 0.9882, 0, 0, 0, 0, 1, 0, 0.00992, 0, 0, 1); transform: matrix3d(1.00817, 0, 0, 0, 0, 0.9882, 0, 0, 0, 0, 1, 0, 0.00992, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(1.00466, 0, 0, 0, 0, 0.99327, 0, 0, 0, 0, 1, 0, 0.00821, 0, 0, 1); transform: matrix3d(1.00466, 0, 0, 0, 0, 0.99327, 0, 0, 0, 0, 1, 0, 0.00821, 0, 0, 1); }
  51.923077% { -webkit-transform: matrix3d(1.00191, 0, 0, 0, 0, 0.99724, 0, 0, 0, 0, 1, 0, 0.00588, 0, 0, 1); transform: matrix3d(1.00191, 0, 0, 0, 0, 0.99724, 0, 0, 0, 0, 1, 0, 0.00588, 0, 0, 1); }
  53.846154% { -webkit-transform: matrix3d(0.99992, 0, 0, 0, 0, 1.00011, 0, 0, 0, 0, 1, 0, 0.00373, 0, 0, 1); transform: matrix3d(0.99992, 0, 0, 0, 0, 1.00011, 0, 0, 0, 0, 1, 0, 0.00373, 0, 0, 1); }
  55.769231% { -webkit-transform: matrix3d(0.99861, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0.00205, 0, 0, 1); transform: matrix3d(0.99861, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0.00205, 0, 0, 1); }
  57.692308% { -webkit-transform: matrix3d(0.99787, 0, 0, 0, 0, 1.00308, 0, 0, 0, 0, 1, 0, 0.00091, 0, 0, 1); transform: matrix3d(0.99787, 0, 0, 0, 0, 1.00308, 0, 0, 0, 0, 1, 0, 0.00091, 0, 0, 1); }
  59.615385% { -webkit-transform: matrix3d(0.99757, 0, 0, 0, 0, 1.00351, 0, 0, 0, 0, 1, 0, 0.00023, 0, 0, 1); transform: matrix3d(0.99757, 0, 0, 0, 0, 1.00351, 0, 0, 0, 0, 1, 0, 0.00023, 0, 0, 1); }
  61.538462% { -webkit-transform: matrix3d(0.99759, 0, 0, 0, 0, 1.00349, 0, 0, 0, 0, 1, 0, -0.00012, 0, 0, 1); transform: matrix3d(0.99759, 0, 0, 0, 0, 1.00349, 0, 0, 0, 0, 1, 0, -0.00012, 0, 0, 1); }
  63.461538% { -webkit-transform: matrix3d(0.99782, 0, 0, 0, 0, 1.00316, 0, 0, 0, 0, 1, 0, -0.00025, 0, 0, 1); transform: matrix3d(0.99782, 0, 0, 0, 0, 1.00316, 0, 0, 0, 0, 1, 0, -0.00025, 0, 0, 1); }
  65.384615% { -webkit-transform: matrix3d(0.99816, 0, 0, 0, 0, 1.00265, 0, 0, 0, 0, 1, 0, -0.00027, 0, 0, 1); transform: matrix3d(0.99816, 0, 0, 0, 0, 1.00265, 0, 0, 0, 0, 1, 0, -0.00027, 0, 0, 1); }
  67.307692% { -webkit-transform: matrix3d(0.99856, 0, 0, 0, 0, 1.00208, 0, 0, 0, 0, 1, 0, -0.00022, 0, 0, 1); transform: matrix3d(0.99856, 0, 0, 0, 0, 1.00208, 0, 0, 0, 0, 1, 0, -0.00022, 0, 0, 1); }
  69.230769% { -webkit-transform: matrix3d(0.99895, 0, 0, 0, 0, 1.00151, 0, 0, 0, 0, 1, 0, -0.00016, 0, 0, 1); transform: matrix3d(0.99895, 0, 0, 0, 0, 1.00151, 0, 0, 0, 0, 1, 0, -0.00016, 0, 0, 1); }
  71.153846% { -webkit-transform: matrix3d(0.99931, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99931, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.076923% { -webkit-transform: matrix3d(0.9996, 0, 0, 0, 0, 1.00057, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9996, 0, 0, 0, 0, 1.00057, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% { -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 1.00024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99983, 0, 0, 0, 0, 1.00024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.923077% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  78.846154% { -webkit-transform: matrix3d(1.00011, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00011, 0, 0, 0, 0, 0.99983, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.769231% { -webkit-transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  82.692308% { -webkit-transform: matrix3d(1.0002, 0, 0, 0, 0, 0.9997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0002, 0, 0, 0, 0, 0.9997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  84.615385% { -webkit-transform: matrix3d(1.0002, 0, 0, 0, 0, 0.99971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0002, 0, 0, 0, 0, 0.99971, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.538462% { -webkit-transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00018, 0, 0, 0, 0, 0.99973, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  88.461538% { -webkit-transform: matrix3d(1.00016, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00016, 0, 0, 0, 0, 0.99978, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.384615% { -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 0.99982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00012, 0, 0, 0, 0, 0.99982, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  92.307692% { -webkit-transform: matrix3d(1.00009, 0, 0, 0, 0, 0.99987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00009, 0, 0, 0, 0, 0.99987, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  94.230769% { -webkit-transform: matrix3d(1.00006, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00006, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.153846% { -webkit-transform: matrix3d(1.00003, 0, 0, 0, 0, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00003, 0, 0, 0, 0, 0.99995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  98.076923% { -webkit-transform: matrix3d(1.00001, 0, 0, 0, 0, 0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00001, 0, 0, 0, 0, 0.99998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

