<!--<video id="myPeervideo" class="fullscreen-bg__video" autoplay muted></video>-->
<div class="fullscreen-bg" id="myPeerVideo"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <p align="left"><img src="images/stackup.jpg" class="img-rounded" alt="Microbit Logo" width="200" height="150"></p>
        </div>
        <div class="col-sm-9 col-md-8">

        </div>
        <div class="col-sm-12 col-md-2">
            <div id="compassGaugeX" class="200x160px"></div>
            <!--<br>
            <button type="button" id="captureBtn" class="btn btn-warning" onlick="capture()">Capture</button>
            <br>
            <br>-->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <div id="accelerometerGaugeX" class="200x160px"></div>


        </div>
        <div class="col-sm-9 col-md-8">

        </div>
        <div class="col-sm-12 col-md-2">
            <div id="compassGaugeY" class="200x160px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <div id="accelerometerGaugeY" class="200x160px"></div>
        </div>
        <div class="col-sm-9 col-md-8">
<!--
            <br>
            <button type="button" id="buttonA" class="btn btn-success">Button A</button>
            <br>
            <br>-->
        </div>
        <div class="col-sm-12 col-md-2">
            <div id="compassGaugeZ" class="200x160px"></div>
            <!--<br>
            <button type="button" id="buttonB" class="btn btn-warning">Button B</button>
            <br>
            <br>-->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <div id="accelerometerGaugeZ" class="200x160px"></div>

        </div>
        <div class="col-sm-9 col-md-8">

            <div id="temperatureGauge" class="200x160px"></div>
            &nbsp;
            &nbsp;<font color="white"><span id="read" class="center"></span></font>
            <!--
            <span class="button-colour">B</span>&nbsp;<button type="button" id="buttonB" class="btn btn-warning">Button B</button>
            &nbsp;<span class="button-colour">Patient Band A</span>&nbsp;<button type="button" id="PatientButtonA" class="btn btn-primary">Band Btn A</button>
            &nbsp;<span class="button-colour">Patient Band B</span>&nbsp;<button type="button" id="PatientButtonB" class="btn btn-danger">Band Btn B</button>&nbsp;&nbsp;-->
        </div>
        <div class="col-sm-12 col-md-2">
            <video id="myvideo" width="290" height="200" style="transform: rotateY(-180deg);" autoplay muted></video>
        </div>
    </div>
</div>
